[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
factory-boy = "*"
faker = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
mysql-connector-python = "*"
mysqlclient = "*"
pytz = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
